@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100;400;700&family=Cousine&display=swap');

:root {
  --primary-color: #B40CFF ;
  --secondary-color: #FFD909 ;
  --text-color: #454242;
  --background-color: rgb(235, 232, 232);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  line-height: 1.6;
  background-color: var(--background-color);
}

.containerAll{
  filter: blur(25px);
  position: relative;
  text-align: center;
  
}

h1, h2, h3, h4, h5, h6, p,
a {
  text-decoration: none;
  color: var(--text-color);
}

.picsBy{
  text-align: center;
  opacity: 1;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  top: 48vh;
  padding: 0 1rem;
  z-index: 2;
}

.picsBy h1{
  color: var(--primary-color);
  font-size: 3rem;
  font-family: 'Big Shoulders Text', cursive;
  font-weight: bolder;
}

li {
  list-style-type: none;
}

/****
Flexbox
*****/

.flex{
  display: flex;
}

/****
Container
*****/
.container{
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
  overflow: visible;
}

/****
Grid TEMPLATES
*****/
 
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;
  justify-items: center;
  align-items: center;
  height: 100%;
}

.contact .grid{
  grid-template-columns: repeat(20% 40% 40%);
  grid-template-rows: 1fr;
  gap: 2px;
}



/****
Images
*****/

img {
  width: 100%;
}

.about img{
  width: 40%;
  border-radius: 8px;
  box-shadow: 2px 2px 4px var(--text-color);
}

.cityandguilds img{
  max-height: 100px;
}


/****
Font Sizes
*****/
.text-center{
  text-align: center;
}
.lead{
  font-size: 20px;
}
.xsm{
  font-size: 0.8rem;
}
.sm{
  font-size: 1rem;
}
.mds{
  font-size: 1.6rem;
}
.md{
  font-size: 2rem;
}
.mdl{
  font-size: 2.6rem;
}
.lg{
  font-size: 3rem;
}
.xl{
  font-size: 4rem;
}

.big-shoulders{
  font-family: 'Big Shoulders Text', cursive;
}

.cousine{
  font-family: 'Cousine', monospace;
}

/****
Font Colors
*****/
.text-primary{
  color: var(--primary-color);
}
.text-secondary{
  color: var(--secondary-color);
}
.text-dark{
  color: var(--text-color);
}

/***** 
      Elements
            ******/

/******
Navibar
*******/
.navibarWrapper nav li{
  margin: 0 1rem;
}

.navibarWrapper nav{
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.navibarWrapper {
  background-color: var(--background-color);
  position: sticky;
  top: 0;
}

nav ul li a:hover{
  color: var(--primary-color);
  /* border-bottom: 2px solid var(--primary-color); */
  text-decoration: underline;
  text-decoration-style: 5px dashed var(--primary-color);
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 3px;
}

.dropdown{
  position: relative;
}

.dropdown-menu{
  position: absolute;
  min-width: 95px;
  top: 3.5rem;
  flex-direction: column;
  gap: 0.5rem;
  left: 1rem;
  background-color: var(--background-color);
  font-family: 'Big Shoulders Text', cursive;
  padding: 0.5rem;
  border-radius: .25rem;
  box-shadow: 2px 2px 4px #333;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out; 
}

 .active > .link + .dropdown-menu { 
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
 } 


/******
Galleries
*******/
.theatreGalleryWrap .grid > :first-child,
.galleryWrap .grid a:first-child{
  grid-column: 1/ span 2 ;
  grid-row: 1 / span 2;
}

.galleryWrap .grid a:nth-child(5){
  grid-column: 2/ span 2   ;
  height: 100%;
}
.galleryWrap .grid a:nth-child(7){
  grid-column: 2 / span 2 ;
  grid-row: 4  / span 2;
}
.galleryWrap .grid a:nth-child(10){
  grid-column: 1 / span 2 ;
  grid-row: 6  / span 2;
}
.galleryWrap .grid a:nth-child(12){
  grid-column: 2 / span 2 ;
  grid-row: 8  / span 2;
}
/* .galleryWrap .grid a:nth-child(15){ */
  /* grid-column: 1 / span 2 ;  */
  /* grid-row: 10  / span 2;  */
/* } */

.galleryWrap .grid a:nth-child(15){
  grid-column:1/span 2;
  grid-row:10 / span 2;
}

.galleryWrap .grid a:nth-child(16){
  grid-column: 2 / span 2 ; 
  grid-row: 12  / span 2; 
}
.galleryWrap .grid a:nth-child(17){
  grid-column: 3 / span 1 ; 
  grid-row: 10  / span 1; 
}
.galleryWrap .grid a:nth-child(18){
  grid-column: 3 / span 1 ; 
  grid-row: 11  / span 1; 
}
.galleryWrap .grid a:nth-child(19){
  grid-column: 1 / span 1 ; 
  grid-row: 13  / span 1; 
}
.galleryWrap .grid a:nth-child(20){
  grid-column: 1 / span 2 ; 
  grid-row: 15  / span 1; 
}

.theatreGalleryWrap .grid > :nth-child(5){
  grid-column: 2 /span 2;
  grid-row: 3 /span 2;
}
.theatreGalleryWrap .grid > :nth-child(8){
  grid-column: 1 /span 2;
  grid-row: 5 /span 2;
}

/* SOCIAL MATTERS GALLERY */

.socialGalleryWrap .grid a:first-child{
  grid-column: 1 /span 4;
  /* grid-row: 1 /span 2; */
}
.socialGalleryWrap .grid a:nth-child(2){
  grid-column: 2 /span 2;
  grid-row: 2 /span 2;
}
.socialGalleryWrap .grid a:nth-child(3){
  grid-column: 1 /span 1;
  grid-row: 2 /span 1;
}
.socialGalleryWrap .grid a:nth-child(4){
  grid-column: 1 /span 2;
  /* grid-row: 3 /span ; */
}
/* .socialGalleryWrap .grid a:nth-child(4){ */
  /* grid-column: 1 /span 2; */
  /* grid-row: 3 /span 2; */
/* } */



.socialGalleryWrap .grid img,
.socialGalleryWrap .grid a,
.theatreGalleryWrap .grid img,
.theatreGalleryWrap .grid a,
.galleryWrap .grid img,
.galleryWrap .grid a{
  width: 100%;
  height: 100%;
  overflow-clip-margin: 0px;
}


/******
About
*******/

.aboutWrap .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blurb{
  padding-top: 2em;
}

/*****************
Margins and padding
*******************/

/* Margins */
.my-1{
  margin: 1rem 0;
}

.my-2{
  margin: 1.5rem 0;
}

.my-3{
  margin: 2rem 0;
}

.my-4{
  margin: 3rem 0;
}

.my-5{
  margin: 4rem 0;
}

.mx-1{
  margin: 0 1rem;
}

.mx-2{
  margin: 0 1.5rem;
}

.mx-3{
  margin: 0 2rem;
}

.mx-4{
  margin: 0 3rem;
}

.mx-5{
  margin: 0 4rem;
}

.m-1{
  margin: 1rem;
}

.m-2{
  margin: 1.5rem;
}

.m-3{
  margin: 2rem;
}

.m-4{
  margin: 3rem;
}

.m-5{
  margin: 4rem;
}

/* Padding */
.py-1{
  padding: 1rem 0;
}

.py-2{
  padding: 1.5rem 0;
}

.py-3{
  padding: 2rem 0;
}

.py-4{
  padding: 3rem 0;
}

.py-5{
  padding: 4rem 0;
}

.px-1{
  padding: 0 1rem;
}

.px-2{
  padding: 1 0.5rem;
}

.px-3{
  padding: 0 2rem;
}

.px-4{
  padding: 0 3rem;
}

.px-5{
  padding: 0 4rem;
}

.p-1{
  padding: 1rem;
}

.p-2{
  padding: 1.5rem;
}

.p-3{
  padding: 2rem;
}

.p-4{
  padding: 3rem;
}

.p-5{
  padding: 4rem;
}


/******
      Media Queries 
                ******/

@media(min-width: 768px){
  
  .picsBy h1{
    font-size: 5rem;
  }

  .mega-grid{
    display: flex;
  }

  .navibarWrapper nav {
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }

  .navibarWrapper nav h2 {
    font-size: 2.5rem; 
    margin-bottom: 2rem;
  }

  .navibarWrapper nav ul {
    flex-direction: column;
    gap: 2rem;
  }

  .navibarWrapper nav ul li{
    font-size: 1.6rem;
  }
  
  .navibarWrapper {
    min-width: 332px;
    height: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .dropdown-menu{
    position: absolute;
    top: -0.8rem;
    left: 6.5rem;
    transform: translateX(-20px);
    /* flex-direction: column; */
    /* gap: 0.5rem; */
  }

  .active > .link + .dropdown-menu { 
    transform: translateX(0);
  }
  
  .galleryWrap .grid,
  .socialGalleryWrap .grid
  {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
  .galleryWrap .grid a:nth-child(4){
    grid-column: 4 / span 2 ;
    grid-row: 2  / span 2;
  }
  .galleryWrap .grid a:nth-child(14){
    grid-column: 1 / span 2 ;
    grid-row: 4  / span 2;
  }
  .galleryWrap .grid a:nth-child(7){
    grid-column: 4 / span 1 ;
    grid-row: 5  / span 1;
  }
  .galleryWrap .grid a:nth-child(5){
    grid-column: 4 / span 2 ;
    grid-row: 1  / span 1;
  }
  .galleryWrap .grid a:nth-child(10){
    grid-column: 3 / span 1 ;
    grid-row: 5  / span 1;
  }
  .galleryWrap .grid a:nth-child(12){
    grid-column: 1 / span 1 ;
    grid-row: 6  / span 1;
  }
  .galleryWrap .grid a:nth-child(11){
    grid-column: 4 / span 2 ;
    grid-row: 5  / span 2;
  }
  .galleryWrap .grid a:nth-child(16){
    grid-column: 3 / span 2 ;
    grid-row: 4 / span 1;
  }
  .galleryWrap .grid a:nth-child(15){
    grid-column: 2 / span 2 ;
    grid-row: 6 / span 2;
  }
  .galleryWrap .grid a:nth-child(17){
    grid-column: 4 / span 2 ;
    grid-row: 7 / span 2;
  }
  .galleryWrap .grid a:nth-child(18){
    grid-column: 1 / span 1 ;
    grid-row: 7 / span 1;
  }
  .galleryWrap .grid a:nth-child(19){
    grid-column: 3/ span 1 ;
    grid-row: 8 / span 1;
  }
  .galleryWrap .grid a:nth-child(20){
    grid-column: 1 / span 2 ;
    grid-row: 8 / span 1;
  }

